#parahist {
  text-align: left;
  font-size: 30px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: auto;
  
  color: #484848;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 25px;  border-radius: 3px;

}

 .histbox{
  border: 1px solid #484848;
background-color: #f1eeeb;  border-radius: 3px;

}

.pleft {
  float: left;
  height: 10%;
  width: 20%;

  background-color: #f1eeeb;
  text-align: center;

  font-size: x-large;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  color: #484848;
    padding-top: 20px;
  padding-bottom: 10px;  border-radius: 3px;

}
.p-right {
  border-radius: 3px;

  border: 1px solid #484848;
  height: 100%;
    padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  width: 80%;
  background: #515f6d;
  text-align: left;

  font-size: 26px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  color: white;
}
.pinside {font-size: medium; text-align: right;display: inline-block;
float:right; margin-right: 4px;}
