#profilind {border: 1px solid black; height:100%; width: auto; display: inline-block; font-family: obvia; margin:0; font-size: medium;}
#forbundet {border: 1px solid black;height:100%; width: auto; font-family: obvia; margin: 0;font-size: medium;}
#paraind {text-align: center; text-align: center;
    font-size: x-large;}
