
.next, .back{
    text-decoration: none;
      background-color:white;
      border: 3px solid #515e6d;
      color: #515e6d;
      border-radius: 1px;
      font-size: 15px;
      font-family:'Source Sans Pro';
      padding: 7px;
      padding-left:20px;
      padding-right:20px;
      margin-top:5%;}
  
  
      .back {
        bottom: 0;
        float: left;
      }
      .next{float:right;
      padding-left:25px;
      padding-right:25px;}


  .knapperne {
    width: 95%;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }

  .next:hover, .back:hover {
      background-color: #515e6d;
      color: #FFF;
  }

          
                .overskriftpreview{
                    margin-top:5%;
                    color:#515E6D;
                    line-height:0;
                }
        
                .overskriftpreview p{font-size:12px;}
                .first{margin-top:3%;}
        
                    /* Popup container - can be anything you want */
                    .previewdrive {	margin-right:3vh;
                        background-color:#A6BB75;
                        color:White;
                        width:40vh;
                        padding-top:2vh;
                      position: relative;
                        display:inline-block;
                      cursor: pointer;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none; 
                      
                    }
                    
                    .previewteam{
                        color:White;
                        background-color:#AA81AC;
                        width:40vh;
                        padding-top:2vh;
                      position: relative;
                      display:inline-block;
                      cursor: pointer;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none;
                      }
                    
                    i {
                    margin-top:6%;
                      border: solid #263841;
                      border-width: 0 3px 3px 0;
                      display: inline-block;
                      padding: 5px;
                    
                     }
                    
                    .down {	
                      transform: rotate(45deg);
                      -webkit-transform: rotate(45deg);
                     
                    }
                    
                    .popupdrive img {float:left;
                      width:35px;
                    margin-left:2vh;
                    
                    margin-top:1vh;
                    }
                    
                    
                    .popupdrive h3 {
                    margin-left:10vh;
                    text-align:left;
                    font-size:12px;
                    }
                    
                    
                    
                    .popupdrive p {font-size:12px;
                    text-align:left;
                    margin-left:10vh;}
                    
                    
                    
                    /* The actual popup */
                    .previewdrive .popupdrive {
                        visibility: hidden;
                      width: 50vh;
                      border: 10px solid #A6BB75;
                      background-color: #FFFFFF;
                      color: #515E6D;
                      text-align: center;
                      padding: 8px 0;
                      position: absolute;
                      z-index: 1;
                      bottom: -300%;
                      left: 38%;
                      margin-left: -80px;
                    
                    }
                    
                    
                    
                    /* Toggle this class - hide and show the popup */
                    .previewdrive .show1 {
                      visibility: visible;
                      -webkit-animation: fadeIn 1s;
                      animation: fadeIn 1s;
                    }
                    
                    
                    
                    /* Add animation (fade in the popup) */
                    @-webkit-keyframes fadeIn {
                      from {opacity: 0;} 
                      to {opacity: 1;}
                    }
                    
                    @keyframes fadeIn {
                      from {opacity: 0;}
                      to {opacity:1 ;}
                    }
                    
                    
                      
                      .popupteam img {float:left;
                      width:35px;
                    margin-left:2vh;
                    
                    margin-top:1vh;
                    }
                    
                    .popupteam p{font-size:12px;
                    text-align:left;
                    margin-left:10vh;}
                    
                    .popupteam h3{
                    margin-left:10vh;
                    text-align:left;
                    font-size:12px;
                    }
                    
                    .previewteam .popupteam{
                        visibility: hidden;
                      width: 50vh;
                      border: 10px solid #AA81AC;
                      background-color: #FFFFFF;
                      color: #515E6D;
                      text-align: center;
                      padding: 8px 0;
                      position: absolute;
                      z-index: 1;
                      bottom: -300%;
                      left: 38%;
                      margin-left: -80px;
                    
                    }
                    
                    .previewteam .show2{
                      visibility: visible;
                      -webkit-animation: fadeIn 1s;
                      animation: fadeIn 1s;
                    }
        
                    .previewkarma {	
                        color:White;
                        margin-right:3vh;
                        background-color:#D36D75;
                        width:40vh;
                        padding-top:2vh;
                      position: relative;
                        display:inline-block;
                      cursor: pointer;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none; 
                      }
                      
        
                      .secondpreview{margin-top:3%;}
                    .popupkarma img{float:left;
                      width:35px;
                    margin-left:2vh;
                    
                    margin-top:1vh;
                    }
                    
                    
                    .popupkarma h3 {
                    margin-left:10vh;
                    text-align:left;
                    font-size:12px;
                    }
                    
                    
                    .previewkarma .popupkarma{
                        visibility: hidden;
                      width: 50vh;
                      border: 10px solid #D36D75;
                      background-color: #FFFFFF;
                      color: #515E6D;
                      text-align: center;
                      padding: 8px 0;
                      position: absolute;
                      z-index: 1;
                      bottom: -300%;
                      left: 38%;
                      margin-left: -80px;
                    
                    }
                    .popupkarma p {font-size:12px;
                    text-align:left;
                    margin-left:10vh;}
                    
            
        
                    
                        .previewkarma .show3 {
                      visibility: visible;
                      -webkit-animation: fadeIn 1s;
                      animation: fadeIn 1s;
                    }
        
                    
                    .previewfun {	
                        color:White;
                        background-color:#6696AC;
                        width:40vh;
                        padding-top:2vh;
                      position: relative;
                        display:inline-block;
                      cursor: pointer;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none; 
                      }
                      
        
                      
                    .popupfun img {float:left;
                      width:35px;
                    margin-left:2vh;
                    
                    margin-top:1vh;
                    }
                    
                    
                    .popupfun h3 {
                    margin-left:10vh;
                    text-align:left;
                    font-size:12px;
                    }
                    
                    
                    .previewfun .popupfun{
                        visibility: hidden;
                      width: 50vh;
                      border: 10px solid #6696AC;
                      background-color: #FFFFFF;
                      color: #515E6D;
                      text-align: center;
                      padding: 8px 0;
                      position: absolute;
                      z-index: 1;
                      bottom: -300%;
                      left: 38%;
                      margin-left: -80px;
                    
                    }
                    .popupfun p {font-size:12px;
                    text-align:left;
                    margin-left:10vh;}
                    
            
        
                    
                        .previewfun .show3 {
                      visibility: visible;
                      -webkit-animation: fadeIn 1s;
                      animation: fadeIn 1s;
                    }
        
                    .thirdpreview {
                    margin-top:3%;
                    margin-bottom:5%;
                    
                    }
                    .previewplan {	
                        margin-right:3vh;
                        color:White;
                        background-color:#515E6D;
                        width:30%;
                        padding-top:1vh;
                      position: relative;
                        display:inline-block;
                      cursor: pointer;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none; 
                      }
                      
        
                      
                    .popupplan h2 {float:left;
            
                    margin-left:2vh;
                    border:2px solid #515E6D;
                    font-size:12px;
                    padding:2vh;
                    margin-top:1vh;
                    }
                    
                    
                    .popupplan h3 {
                    margin-left:10vh;
                    text-align:left;
                    font-size:12px;
                    }
                    
                    
                    .previewplan .popupplan{
                        visibility: hidden;
                      width: 50vh;
                      border: 10px solid #515E6D;
                      background-color: #FFFFFF;
                      color: #515E6D;
                      text-align: center;
                      padding: 8px 0;
                      position: absolute;
                      z-index: 1;
                      bottom: -300%;
                      left: 38%;
                      margin-left: -80px;
                    
                    }
                    .popupplan p {font-size:12px;
                    text-align:left;
                    margin-left:10vh;}
                    
            
        
                    
                        .previewplan .show3 {
                      visibility: visible;
                      -webkit-animation: fadeIn 1s;
                      animation: fadeIn 1s;
                    }
                    .previewgoals {	
                        margin-right:3vh;
                        color:White;
                        background-color:#515E6D;
                        width:30%;
                        padding-top:1vh;
                      position: relative;
                        display:inline-block;
                      cursor: pointer;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none; 
                      }
                      
        
                      
                    .popupgoals h2 {float:left;
            
                    margin-left:2vh;
                    border:2px solid #515E6D;
                    font-size:12px;
                    padding:2vh;
                    margin-top:1vh;
                    }
                    
                    
                    .popupgoals h3 {
                    margin-left:10vh;
                    text-align:left;
                    font-size:12px;
                    }
                    
                    
                    .previewgoals .popupgoals{
                        visibility: hidden;
                      width: 50vh;
                      border: 10px solid #515E6D;
                      background-color: #FFFFFF;
                      color: #515E6D;
                      text-align: center;
                      padding: 8px 0;
                      position: absolute;
                      z-index: 1;
                      bottom: -300%;
                      left: 38%;
                      margin-left: -80px;
                    
                    }
                    .popupgoals p {font-size:12px;
                    text-align:left;
                    margin-left:10vh;}
                    
            
        
                    
                    .previewgoals .show3 {
                      visibility: visible;
                      -webkit-animation: fadeIn 1s;
                      animation: fadeIn 1s;
                    }
                    
                    .previewkom {	
                        color:White;
                        background-color:#515E6D;
                        width:30%;
                        padding-top:1vh;
                      position: relative;
                        display:inline-block;
                      cursor: pointer;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none; 
                      }
                      
        
                      
                    .popupkom h2 {float:left;
            
                    margin-left:2vh;
                    border:2px solid #515E6D;
                    font-size:12px;
                    padding:2vh;
                    margin-top:1vh;
                    }
                    
                    
                    .popupkom h3 {
                    margin-left:10vh;
                    text-align:left;
                    font-size:12px;
                    }
                    
                    
                    .previewkom .popupkom{
                        visibility: hidden;
                      width: 50vh;
                      border: 10px solid #515E6D;
                      background-color: #FFFFFF;
                      color: #515E6D;
                      text-align: center;
                      padding: 8px 0;
                      position: absolute;
                      z-index: 1;
                      bottom: -300%;
                      left: 38%;
                      margin-left: -80px;
                    
                    }
                    .popupkom p {font-size:12px;
                    text-align:left;
                    margin-left:10vh;}
                    
            
        
                    
                    .previewkom .show3 {
                      visibility: visible;
                      -webkit-animation: fadeIn 1s;
                      animation: fadeIn 1s;
                    }
                    
                    .close {
                      color: #aaaaaa;
                      float: right;
                      font-size: 28px;
                      font-weight: bold;
                    }
                    
                    .close:hover,
                    .close:focus {
                      color: #000;
                      text-decoration: none;
                      cursor: pointer;
                    }