
p{font-family:obvia;
}

h1, h2, h2 {font-family:poppins;}

.next, .back{
  text-decoration: none;
    background-color:white;
    border: 3px solid #515e6d;
    color: #515e6d;
    border-radius: 1px;
    font-size: 15px;
    font-family:'Source Sans Pro';
    padding: 7px;
    padding-left:20px;
    padding-right:20px;
    margin-top:5%;}


    .back {
      bottom: 0;
      float: left;
    }
    .next{float:right;
    padding-left:25px;
    padding-right:25px;}

    .next:hover, .back:hover {
      background-color: #515e6d;
      color: #FFF;
  }

/*skemafrontpage*/
#startknap{
    width:20%;
    margin-left:auto;
    margin-right:auto;
background-color:white;
border: 3px solid #515e6d;
color: #515e6d;
border-radius: 1px;
font-size: 15px;
font-family:'Source Sans Pro';
padding: 7px;
padding-left:20px;
padding-right:20px;
margin-top:15%;}

.Udviklingssamtale{
  margin-right:5%;
  margin-left:5%;

  color:#515E6D;
  text-align: center;
}

.Udviklingssamtale img{
  float:right; 
  padding-top:3%;
  margin-right:3vh;
  width:70px;
height:70px;}
.Udviklingssamtale h1{
  display:inline-block;;
  margin-left:15%;
  font-size:25px;
margin-top:9%;}
.Udviklingssamtale p{
  font-size:15px;
  margin-top:5%;
}
.Udviklingssamtale h2{font-size:18px;
display: inline-block;
margin-left:1%;
margin-right:1%;
}
hr{border:0px;
height:2px;
width:80%;
background-color:#515E6D;
margin-bottom:5%;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #FDFDFD;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 40%;
height:45%;
}

.modal-content img {
width:100%;
}
/* The Close Button */
.close1 {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close1:hover,
.close1:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

#next{ 
float:right;
width:20%;
background-color:white;
border: 3px solid #515e6d;
color: #515e6d;
border-radius: 1px;
font-size: 15px;
font-family:'Source Sans Pro';
padding-top:5px;
padding-bottom:5px;     
padding-left:20px;
padding-right:20px;
margin-top:10%;
}

/*skemahøjtdrive*/
.drivegreen{
    background-color:#A6BB75;
    color:white;
    padding-top:3%;
    padding-bottom:3%;

}

.drivegreen p, h2{
  text-align:left;
  margin-left:3vh;
    line-height:0px;}

.drivegreen p{font-size:12px;
line-height:12px;}

.drivegreen img { 
float:right;
margin-right:3vh;
width:70px;
height:70px;
}

.textgreen{
    background-color:#EBECEE;
    color:#838C97;
    border:1.5px solid #A6BB75;
    width:85%;
    height:4vh;
    padding-left:5px;
    margin-left:5%;
}

.skemaspg{
margin-top:1vh;
font-size:13px;
color:#515E6D;
margin-left:3vh;
margin-right:3vh;
}

.skemaspg p{
margin-top:4%;
text-align:left;
margin-left:10%;
font-weight: bold;
}

/* The container */
.checkboxcontainer {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;

-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.knapperne {
  width: 95%;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  display: inline-block;
}



/* Create a custom checkbox */
.checkmark {
border: 1.5px solid #A6BB75;
position: absolute;
top: 0;
left: 0;
height:4.3vh;
width:4.3vh;
background-color: #EBECEE;
}

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .checkmark {
background-color: #A6BB75;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .checkmark {
background-color: #A6BB75;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .checkmark:after {
left: 14px;
top: 9px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

/*skemaetstærktsteam*/

.drivepurple{
    background-color:#AA81AC;
    color:white;
    padding-top:3%;
    padding-bottom:3%;

}

.drivepurple p, h2{
  text-align:left;
    margin-left:3vh;
    line-height:0px;}

.drivepurple p{font-size:12px;
line-height:12px;}

.drivepurple img { 
float:right;
margin-right:3vh;
width:70px;
height:70px;
}

.textpurple {
    background-color:#EBECEE;
    color:#838C97;
    border:1.5px solid #AA81AC;
    width:85%;
    height:4vh;
    padding-left:5px;
    margin-left:5%;
}

.skemaspgpurple{
margin-top:2%;
font-size:13px;
color:#515E6D;
margin-left:3vh;
margin-right:3vh;
}

.skemaspgpurple p{
text-align:left;
margin-top:4%;
margin-left:10%;
font-weight: bold;
}

/* The container */
.checkboxcontainerpurple {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;

-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainerpurple input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmarkpurple {
border: 1.5px solid #AA81AC;
position: absolute;
top: 0;
left: 0;
height:4.3vh;
width:4.3vh;
background-color: #EBECEE;
}

/* On mouse-over, add a grey background color */
.checkboxcontainerpurple:hover input ~ .checkmarkpurple {
background-color: #AA81AC;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainerpurple input:checked ~ .checkmarkpurple {
background-color: #AA81AC;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkpurple:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkboxcontainerpurple input:checked ~ .checkmarkpurple:after {
display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainerpurple .checkmarkpurple:after {
left: 14px;
top: 9px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

/*god karma*/
.driveteam{
    background-color:#D36D75;
    color:white;
    padding-top:3%;
    padding-bottom:3%;
}

.driveteam p, h2{
  text-align:left;
    margin-left:3vh;
    line-height:0px;}

.driveteam p{font-size:12px;
line-height:12px;}

.driveteam img { 
float:right;
margin-right:3vh;
width:70px;
height:70px;
}

.textteam {
    background-color:#EBECEE;
    color:#838C97;
    border:1.5px solid #D36D75;
    width:85%;
    height:4vh;
    padding-left:5px;
    margin-left:5%;
}

.skemaspgteam{
margin-top:2%;
font-size:13px;
color:#515E6D;
margin-left:3vh;
margin-right:3vh;
}

.skemaspgteam p{
text-align:left;
margin-top:4%;
margin-left:10%;
font-weight: bold;
}

/* The container */
.checkboxcontainerteam {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;

-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainerteam input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmarkteam {
border: 1.5px solid #D36D75;
position: absolute;
top: 0;
left: 0;
height:4.3vh;
width:4.3vh;
background-color: #EBECEE;
}

/* On mouse-over, add a grey background color */
.checkboxcontainerteam:hover input ~ .checkmarkteam {
background-color: #D36D75;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainerteam input:checked ~ .checkmarkteam {
background-color: #D36D75;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkteam:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkboxcontainerteam input:checked ~ .checkmarkteam:after {
display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainerteam .checkmarkteam:after {
left: 14px;
top: 9px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

/*ha' det sjovt*/
.drivesjovt{
    background-color:#6696AC;
    color:white;
    padding-top:3%;
    padding-bottom:3%;

}

.drivesjovt p, h2{
  text-align:left;
    margin-left:3vh;
    line-height:0px;}

.drivesjovt p{font-size:12px;
line-height:12px;}

.drivesjovt img { 
float:right;
margin-right:3vh;
width:70px;
height:70px;
}

.textsjovt {
    background-color:#EBECEE;
    color:#838C97;
    border:1.5px solid #6696AC;
    width:85%;
    height:4vh;
    padding-left:5px;
    margin-left:5%;
}

.skemaspgsjovt{
margin-top:2%;
font-size:13px;
color:#515E6D;
margin-left:3vh;
margin-right:3vh;
}

.skemaspgsjovt p{
text-align:left;  
margin-top:4%;
margin-left:10%;
font-weight: bold;
}

/* The container */
.checkboxcontainersjovt {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;

-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainersjovt input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkmarksjovt {
border: 1.5px solid #6696AC;
position: absolute;
top: 0;
left: 0;
height:4.3vh;
width:4.3vh;
background-color: #EBECEE;
}

/* On mouse-over, add a grey background color */
.checkboxcontainersjovt:hover input ~ .checkmarksjovt {
background-color: #6696AC;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainersjovt input:checked ~ .checkmarksjovt {
background-color: #6696AC;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarksjovt:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkboxcontainersjovt input:checked ~ .checkmarksjovt:after {
display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainersjovt .checkmarksjovt:after {
left: 14px;
top: 9px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}


/*dine mål*/


.drivegoals{
    background-color:#515E6D;
    color:white;
    padding-top:3%;
    padding-bottom:3%;
text-align: left;
}

.drivegoals p, h2{
    margin-left:3vh;
    line-height:0px;}

.drivegoals p{font-size:12px;
line-height:12px;}

.drivegoals img { 
float:right;
margin-right:3vh;
width:8vh;
height:8vh;
}

.goals{margin-left:10%;
}
.goalstext{
   margin-bottom:5%;
     background-color:#EBECEE;
    color:#838C97;
    border:1.5px solid #515E6D;
    width:70%;
    height:9vh;
    padding-left:5px;
    margin-left:5%;

}

.skemaoverskrift{
margin-right:5%;
margin-left:5%;
font-size:12px;
color:#515E6D;
line-height: 10px;

}


.overskrift img{
  margin-top:4%;
  width:3vh;
 
}

.overskrift h1{ 
  text-align:center;
  display:inline-block;
  position: relative;
  top:-1.5vh;
  color:#515E6D;
  
}
.overskrift p{
  text-align:center;
  color:#515E6D;
}

.intro {
  
  color:#515E6D;
  margin-left:5%;
  margin-right:5%;
}

.intro p{
  margin-top:10vh;text-align:center; }

.intro h2{
  margin-top:20vh;
  text-align:center;}

  .buttonskema{
   
    margin:auto;
    width:20%;
    padding-top:10px;
    padding-bottom:10px;
    border:2px solid #515E6D; 
    margin-bottom:5vh;  
    margin-top:5vh;
  }

  .buttonskema a{ text-decoration: none;
  color:#515E6D;}