/*loading*/
*{font-family: 'Poppins', sans-serif;}

.box {
  margin-left: auto;
  margin: auto;
  width: 90vh;
}


font
.image {
  width: 40vh;
  margin-top: 25vh;
  position: absolute;
  -webkit-animation: spin 3s linear;
  -moz-animation: spin 3s linear;
  animation: spin 3s linear;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.udentekst {
  width: 90vh;
  margin-top: 26vh;
  position: absolute;
  -webkit-animation: fade 5s;
  animation: fade 4s;
  -moz-animation: fade 5s;
  -o-animation: fade 5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/* Total score css styling*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Gemme billeder */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Positionering af "next" knappen til højre */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Positionering af "prev" knappen til venstre */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* På hover kommer der en sort baggrund bag pilene  */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number indikator (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}



/*hoved styling for skabelon*/


body {
  display: grid;
  grid-template-areas:
    "logo header header"
    "nav article ads"
    "nav article ads";
  grid-template-rows: 14vh 43vh 43vh;
  grid-template-columns: 20% 60% 20%;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  height: 100vh;
  margin: 0;
  background-color: #f1eeeb;
}
header,
article,
nav {
  padding: 1em;
  background: #f1eeeb;
}
#pageHeader {
  grid-area: header;
  background-color: #515f6d;
  color: white;
  padding: 0%;
}

#mainArticle {
  grid-area: article;
  background-color: #f1eeeb;
  width: 100vh;
}
/*bookmark*/
.bookmark img {width: 8%;
  height: auto; float:right;}
  /*totalscore*/
#totalscore {
  border: 1px solid black;
  display: inline-block;
}
#totalscore img {width: 25%;
  height: auto;}

.totalscorewheel img {width: 20%;
  height: auto; }

  #sliderImage {width: 25%;
  height: auto;}
#mainNav {
  grid-area: nav;
  background-color: #515f6d;
  color: white;
  display: grid;
  grid-template-rows: 80vh;
  grid-template-columns: 100%;
  grid-gap: 5px;
  padding: 8px;
  text-align: center;
  display: block;
}
#siteAds {
  grid-area: ads;
  width: auto;
}
#logo {
  grid-area: logo;
  background-color: #f1eeeb;
}
#profile {
  background-color: #515e6d;
  height: 95%;
  width: 100%;
}
#accessbar {
  background-color: #a6bb75;
  height: 5%;
  width: 100%;
  position: block;
}

#trophynow {
  background-color: #515f6d;
  display: inline-block;
  width: 100%;
  height: 40vh;
}
#trophybefore {
  background-color: #515f6d;
  display: inline-block;
  width: 100%;
  height: 40vh;
}
.ultrophy {
  background-color: #515f6d;
  height: auto;
  width: 50%;
  display: block;
  float: left;
  background-color: ;
}
.urtrophy {
  background-color: #515f6d;
  height: auto;
  width: 50%;
  display: block;
  float: right;
  background-color: ;
}
.dltrophy {
  background-color: #515f6d;
  height: auto;
  width: 50%;
  display: block;
  float: left;
  background-color: ;
}
.drtrophy {
  background-color: #515f6d;
  height: auto;
  width: 50%;
  display: block;
  float: right;
  background-color: ;
}

.ultrophy img {
  width: 50%;
  height: auto;
}
.dltrophy img {
  width: 50%;
  height: auto;
}
.urtrophy img {
  width: 50%;
  height: auto;
}
.drtrophy img {
  width: 50%;
  height: auto;
}

#ikoner img {
  width: 65%;
  height: auto;
  margin-left: 1vw;
  margin-right: 1vw%;
  margin-top: 1.5vh;
  float: left;
}

#ikoner {
  width: 10%;
  float: left;
}

#navn {
  float: left;
  width: 20%;
}

#hikoner {
  float: right;
  margin-top: 3%;
  margin-right: 2%;
}

.content {
  width: 57vw;
  height: 80vh;
  background-color: white;
  text-align: center;
  margin-left: 2.1vh;
}

.content h1 {
  padding-top: 5vh;
  background-image: url("header.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 25%;
}
.score {
  height: 25vh;
  width: auto;
  margin: 2%;
  margin-top: 4.5vh;
  background-color: white;
  background-image: url("forrige.png");
  background-size: cover;
  text-align: center;
}

.score h2 {
  padding-top: 1.5vh;
}

.historik {
  height: 17.5vh;
  width: auto;
  margin: 2%;
  background-image: url("historik.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.historik h2 {
  padding-top: 1.5vh;
}

.meeting {
  height: 15vh;
  width: auto;
  margin: 2%;
  background-image: url("meeting.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.meeting h2 {
  padding-top: 1vh;
}

.klip {
  height: 15vh;
  width: auto;
  margin: 2%;
  background-image: url("klips.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.klip h2 {
  padding-top: 1vh;
}
/* Stack the layout on small devices/viewports.  */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
      "header"
      "article"
      "ads"
      "nav"
      "logo";
    grid-template-rows: 80px 1fr 50px 1fr 70px;
    grid-template-columns: 1fr;
  }
}


/*style for challenge siden*/
h4{
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 25%;
  text-align: center; 
  color: white; 
  font-size: 50px;
}

.baggrundsfarve {
width: 100%;
height: 15vh;
padding: auto;
background-color: #515E6D; 
display: inline-block;
}

.bg_challenge {
  height: 10vh;
  background-color: #6696AC; 
  margin-left: 5%;
  margin-right: 5%; 
}

h5{
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: left; 
  color: black; 
  font-size: 35px;
  margin:5%;

}

.baggrundsfarve img{
left: 25%;    
bottom: 68%;
width: 4%;
height: auto;
position: absolute;
}


.valgboks{
 width: 100%;
 height: 350px;
}

.valgboks .klikbokser{
  height: 15%;
  text-align: left;
  padding: 5%;
}

.valgboks .klikbokser button{
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.valgboks .klikbokser button:hover{
  background-color: #d7d4d4 ; 
}


.valgboks .panel {
  height: 85%;
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 105px;
  box-sizing: border-box;
  display: none; 
}


/* style guide layout  */

nav {border: 1px solid black; background-image: url("/background_style_guide.png");height: 100vh; width: 100%; }
.div1 {border: 1px solid black; height: 100vh; width: 100%; }
.farveskema {border: 1px solid black; height: 20vh; width: auto;}
.div2{border: 1px solid black;height: 100vh; width: 100%;}
.div3{border: 1px solid black;}
.div4{border: 1px solid black;}
.div5{border: 1px solid black;}
.div6{border: 1px solid black;}
